@inject SinGooCMS.Domain.Interface.ICMSContext context
@{
    Layout = "~/views/platform/h5/MasterPage/IFrame.cshtml"; //母版页
}

<style type="text/css">
    .headerStyle th {
        border-bottom: #E0E0E0 solid 1px;
        font-size: 12px;
        line-height: 25px;
        text-align: left;
        padding: 0 0 0 5px;
        white-space: nowrap;
    }

    .rowStyle td {
        overflow: hidden;
        white-space: nowrap;
        border-bottom: #E0E0E0 solid 1px;
        font-size: 12px;
        text-align: left;
        padding: 5px 0 0 5px;
        height: 25px;
        line-height: 25px;
    }
</style>

<!-- 选项卡开始 -->
<div class="nTab">
    <!-- 内容开始 -->
    <div class="TabContent">
        <div id="myTab0_Content0">
            <!--内容-->
            <table id="tablelist" style="width:98%" border="0" align="center" cellpadding="2" cellspacing="1">
                <tr class="headerStyle">
                    <th style="width: 50%;">
                        文件夹(文件)名称
                    </th>
                    <th style="width: 10%;">
                        类型
                    </th>
                    <th style="width: 10%;">
                        大小
                    </th>
                    <th style="width: 20%;">
                        最后修改时间
                    </th>
                    <th style="width: 10%;">
                        操作
                    </th>
                </tr>
                <tr class="tr2" style="display: @(ViewBag.ViewUp);">
                    <td colspan="5" style="cursor: pointer;">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <img src="~/include/images/up.gif" width="18" height="18" alt="" />
                                </td>
                                <td>
                                    <a href="?folder=@(ViewBag.ParentPath)&elementid=@(ViewBag.ElementID)">
                                        上级目录
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                @*遍历子目录*@
                @foreach (var item in ViewBag.directories)
                {
                    <tr class="rowStyle" align="center">
                        <td>
                            <img src="/include/images/fileico/folder/folder.gif" height="16" alt="" />
                            <a href="?folder=@(item.Folder)@(item.Name)&elementid=@(ViewBag.ElementID)">
                                @(item.Name)
                            </a>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            @(item.LastWriteTime)
                        </td>
                        <td></td>
                    </tr>
                }
                <tr class="tr3">
                    <td colspan="5" style="height: 6px;"></td>
                </tr>
                @*遍历文件*@
                @foreach (var item in ViewBag.Files)
                {
                    <tr class="rowStyle" align="center">
                        <td>
                            <img src="/include/images/fileico/file/@(item.Ico)" width="20" height="16">
                            <a title='选定' id='@(item.Folder.Replace(context.TemplDir,""))@(item.Name)'>@(item.Name)</a>
                        </td>
                        <td>
                            @(item.Ext)
                        </td>
                        <td>
                            @(SinGooCMS.Utility.FileUtils.GetFileSize(item.FileLength))
                        </td>
                        <td>
                            @(item.LastWriteTime)
                        </td>
                        <td>
                            <a title='选定' id='@(item.Folder)@(item.Name)'>选定</a>
                        </td>
                    </tr>
                }
                <tr class="tr3">
                    <td colspan="5" style="height: 6px;"></td>
                </tr>
            </table>
            <!--内容end-->
        </div>
    </div>
</div>
<script type="text/javascript">
    singoo.initRequest();
    //需要赋值的控件ID
    var elementID = singoo.request["elementid"];
    $("a[title='选定']").click(function () {
        if (elementID) {
            var win = $.dialog.open.origin; //来源页面
            win.document.getElementById(elementID).value = $(this).attr("id");
        }
        else
            alert("没有控件ID参数");

        $.dialog.close();
    });
</script>
