@inject SinGooCMS.Domain.Interface.ICMSContext context;
@{
    Layout = "~/views/platform/h5/MasterPage/IFrame.cshtml"; //母版页
}

<link href="/include/plugin/webuploader/webuploader.css" rel="stylesheet" type="text/css" />
<link href="/include/plugin/webuploader/image-upload/style.css" rel="stylesheet" type="text/css" />
<script src="/include/plugin/webuploader/image-upload/jquery.js"></script>
<script src="/include/plugin/webuploader/webuploader.min.js"></script>
<script>
    //传递的参数 选择的类型type: single mutil
    var type = "@(ViewBag.SelectType)";
</script>

<div style="padding: 0 5px">
    <div>
        <div style="overflow: hidden;">
            <table border="0" cellpadding="0" cellspacing="0" id="secTable">
                <tbody>
                    <tr class="tab-header">
                        <td @(ViewBag.IsBat ? "style=width:100%" : "") align="center" class="sec2" id="th0" onclick="secBoard(0)">
                            上传文件
                        </td>
                        @if (!ViewBag.IsBat)
                        {
                            <td align="center" class="sec1" id="th1" onclick="secBoard(1)">
                                选择文件
                            </td>
                            <td align="center" class="sec1" id="th2" onclick="secBoard(2)">
                                网络文件
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
            <table class="table-add" id="mainTable" cellspacing="0" cellpadding="0" border="0">
                <tbody style="display: block;" id="tbody0" title="选项卡内容块">
                    <tr style="display:block;width:100%">
                        <td valign="top" style="display:block;width:100%">
                            @if (!context.SiteConfig.EnableFileUpload)
                            {
                                <div style="margin-top: 100px; font-size: 14px; text-align: center">
                                    文件上传未开启
                                </div>
                            }
                            <div @(!context.SiteConfig.EnableFileUpload ? "style=display:none" : "")>
                                <div class="file-title">
                                    <span class="file-chos">上传到文件夹：</span>
                                    <select id="ddlFolder" name="ddlFolder" class="uploadSelect selectCon">
                                        <option value="-1">未归档</option>
                                        @foreach (var item in ViewBag.Folders)
                                        {
                                            <option value="@(item.AutoID)">@(item.FolderName)</option>
                                        }
                                    </select>
                                </div>
                                <div id="container">
                                    <!--头部，相册选择和格式选择-->
                                    <div id="uploader">
                                        <div class="queueList">
                                            <div id="dndArea" class="placeholder">
                                                <div id="filePicker">
                                                </div>
                                                <p class="text-c">
                                                    或将照片拖到这里，单次最多可选300张，建议图片大小不超过1M
                                                </p>
                                            </div>
                                        </div>
                                        <div class="statusBar" style="display: none;">
                                            <div class="progress">
                                                <span class="text">0%</span> <span class="percentage"></span>
                                            </div>
                                            <div class="info">
                                            </div>
                                            <div class="btns">
                                                <div id="filePicker2">
                                                </div>
                                                <div class="uploadBtn">
                                                    开始上传
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                @if (!ViewBag.IsBat)
                {
                    <tbody style="display: none" id="tbody1" title="选项卡内容块">
                        <tr>
                            <td valign="top">
                                <table class="table-add" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td height="25" style="background: #fff">
                                            <div style="text-align: center; margin-top: 10px;">
                                                <div class="chose-files clear-fix">
                                                    <div class="selectBox">
                                                        <select id="selFolder" name="selFolder">
                                                            <option value="-1">未归档</option>
                                                            @foreach (var item in ViewBag.Folders)
                                                            {
                                                                <option value="@(item.AutoID)">@(item.FolderName)</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="selectBox">
                                                        <select id="nian" name="nian">
                                                            @foreach (var item in ViewBag.Years)
                                                            {
                                                                <option value="@(item.Key)">@(item.Value)</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="selectBox">
                                                        <select id="yue" name="yue">
                                                            @foreach (var item in ViewBag.Months)
                                                            {
                                                                <option value="@(item.Key)">@(item.Value)</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="textBox">
                                                        <input type="text" id="search_text" name="search_text" placeholder="请输入文件名称" />
                                                    </div>
                                                    <label class="label-box fl mr-15">
                                                        <span></span>
                                                        <input type="checkbox" id="imgonly" class="common-check" value="1" />
                                                        <span></span>仅图片
                                                    </label>
                                                    <div class="fl mr-15">
                                                        <input type="button" id="searchbtn" value="搜索" class="com-btn" />
                                                    </div>
                                                </div>
                                                <div class="file-list clear-fix">
                                                    <ul class="clear-fix" id="filecontext"></ul>
                                                </div>
                                                <div class="clear-fix">
                                                    <div class="com-pager clear-fix" style="margin-bottom: 0;">
                                                        <div class="fl" id="pagearea">
                                                        </div>
                                                        <div class="fr">
                                                            <div class="fr">
                                                                <input onclick="selectFiles();" type="button" value="确 定" class="btn-style sure-btn" />
                                                                <input onclick="art.dialog.close();" type="button" value="取 消(ESC)" class="btn-style cancel-btn" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                    <tbody style="display: none;" id="tbody2" title="选项卡内容块">
                        <tr>
                            <td valign="top">
                                <div class="ad-title netfile-h">
                                    文件地址：<input id="networkfile" placeholder="以 http:// 或者 https:// 开头" type="url" maxlength="255"
                                                style="width: 360px;" />
                                </div>
                                <div style="text-align: center; margin-top: 10px;">
                                    <input id="upnetfile" type="button" value="确 定" class="btn-style sure-btn" />
                                    <input id="btncancel" singoo-dialog-close="true" type="button" value="取 消(ESC)"
                                           class="btn-style cancel-btn" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
<script language="javascript">
    function secBoard(n) {
        jQuery(".tab-header td").attr("class", "sec1");
        jQuery("#th" + n).attr("class", "sec2");

        jQuery("tbody[title='选项卡内容块']").hide();
        jQuery("tbody[title='选项卡内容块'][id='tbody" + n + "']").show();
    }
</script>
<script>
    (function ($) {
        // 当domReady的时候开始初始化
        $(function () {
            var $wrap = $('#uploader'),
            // 图片容器
            $queue = $('<ul class="filelist"></ul>').appendTo($wrap.find('.queueList')),
            // 状态栏，包括进度和控制按钮
            $statusBar = $wrap.find('.statusBar'),
            // 文件总体选择信息。
            $info = $statusBar.find('.info'),
            // 上传按钮
            $upload = $wrap.find('.uploadBtn'),
            // 没选择文件之前的内容。
            $placeHolder = $wrap.find('.placeholder'),
            $progress = $statusBar.find('.progress').hide(),
            // 添加的文件数量
            fileCount = 0,
            // 添加的文件总大小
            fileSize = 0,
            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,
            // 缩略图大小
            thumbnailWidth = 110 * ratio,
            thumbnailHeight = 110 * ratio,
            // 可能有pedding, ready, uploading, confirm, done.
            state = 'pedding',
            // 所有文件的进度信息，key为file id
            percentages = {},
            // 判断浏览器是否支持图片的base64
            isSupportBase64 = (function () {
                var data = new Image();
                var support = true;
                data.onload = data.onerror = function () {
                    if (this.width != 1 || this.height != 1) {
                        support = false;
                    }
                }
                data.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
                return support;
            })(),

            // 检测是否已经安装flash，检测flash的版本
            flashVersion = (function () {
                var version;
                try {
                    version = navigator.plugins['Shockwave Flash'];
                    version = version.description;
                } catch (ex) {
                    try {
                        version = new ActiveXObject('ShockwaveFlash.ShockwaveFlash').GetVariable('$version');
                    } catch (ex2) {
                        version = '0.0';
                    }
                }
                version = version.match(/\d+/g);
                return parseFloat(version[0] + '.' + version[1], 10);
            })(),

        supportTransition = (function () {
            var s = document.createElement('p').style,
            r = 'transition' in s ||
                    'WebkitTransition' in s ||
                    'MozTransition' in s ||
                    'msTransition' in s ||
                    'OTransition' in s;
            s = null;
            return r;
        })(),

            // WebUploader实例
        uploader;

            if (!WebUploader.Uploader.support('flash') && WebUploader.browser.ie) {
                // flash 安装了但是版本过低。
                if (flashVersion) {
                    (function (container) {
                        window['expressinstallcallback'] = function (state) {
                            switch (state) {
                                case 'Download.Cancelled':
                                    alert('您取消了更新！')
                                    break;
                                case 'Download.Failed':
                                    alert('安装失败')
                                    break;
                                default:
                                    alert('安装已成功，请刷新！');
                                    break;
                            }
                            delete window['expressinstallcallback'];
                        };

                        var swf = './expressInstall.swf';
                        // insert flash object
                        var html = '<object type="application/' + 'x-shockwave-flash" data="' + swf + '" ';

                        if (WebUploader.browser.ie) {
                            html += 'classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" ';
                        }

                        html += 'width="100%" height="100%" style="outline:0">' +
                                '<param name="movie" value="' + swf + '" />' +
                                '<param name="wmode" value="transparent" />' +
                                '<param name="allowscriptaccess" value="always" />' +
                            '</object>';

                        container.html(html);

                    })($wrap);

                    // 压根就没有安转。
                } else {
                    $wrap.html('<a href="http://www.adobe.com/go/getflashplayer" target="_blank" border="0"><img alt="get flash player" src="http://www.adobe.com/macromedia/style_guide/images/160x41_Get_Flash_Player.jpg" /></a>');
                }
                return;
            } else if (!WebUploader.Uploader.support()) {
                alert('Web Uploader 不支持您的浏览器！');
                return;
            }

            // 实例化
            uploader = WebUploader.create({
                //auto:true, //自动上传
                pick: {
                    id: '#filePicker',
                    label: '点击选择图片/文件',
                    multiple:@(ViewBag.SelectType=="mutile"?"true":"false"),
                },
                formData: {
                    usertype: "@(SinGooCMS.UserType.Manager.ToString())",
                    folderID: -1
                },
                dnd: '#dndArea',
                paste: '#uploader',
                swf: '/include/plugin/webuploader/Uploader.swf',
                chunked: false, //不要分片上传，会上传成多个文件
                chunkSize: 5000 * 1024, //KB
                server: '/platform/Tools/UploaderByManager',
                // runtimeOrder: 'flash',
                accept: {
                    title: 'Images',
                    extensions: '@(context.SiteConfig.EnableUploadExt.Replace("|",",").Replace(".",""))',
                    mimeTypes: '@(context.SiteConfig.EnableUploadExt.Replace("|",","))'
                },
                compress: false,//不启用压缩
                resize: false,//尺寸不改变
                // 禁掉全局的拖拽功能。这样不会出现图片拖进页面的时候，把图片打开。
                disableGlobalDnd: true,
                fileNumLimit: @(ViewBag.SelectType=="mutile"?50:1),//50,
                fileSizeLimit: 200 * 1024 * 1024,    // 200 M
                fileSingleSizeLimit: @(context.SiteConfig.UploadSizeLimit) * 1024    // 50 M
            });

            // 拖拽时不接受 js, txt 文件。
            uploader.on('dndAccept', function (items) {
                var denied = false,
            len = items.length,
            i = 0,
            // 修改js类型
            unAllowed = 'text/plain;application/javascript ';
                for (; i < len; i++) {
                    // 如果在列表里面
                    if (~unAllowed.indexOf(items[i].type)) {
                        denied = true;
                        break;
                    }
                }
                return !denied;
            });
            uploader.on('dialogOpen', function () {
                console.log('here');
            });
            // 添加“添加文件”的按钮，
            uploader.addButton({
                id: '#filePicker2',
                label: '继续添加'
            });
            uploader.on('ready', function () {
                window.uploader = uploader;
            });
            uploader.on('uploadBeforeSend', function( object, data,header ) {
                data.folderID=$("#ddlFolder").val(); //在创建uploader对象时无法给formData赋值，只能在这里动态赋值
            });

            // 当有文件添加进来时执行，负责view的创建
            function addFile(file) {
                var $li = $('<li id="' + file.id + '">' +
            '<p class="title">' + file.name + '</p>' +
            '<p class="imgWrap"></p>' +
            '<p class="progress"><span></span></p>' +
            '</li>'),

            $btns = $('<div class="file-panel">' +
            '<span class="cancel">删除</span>' +
            '<span class="rotateRight">向右旋转</span>' +
            '<span class="rotateLeft">向左旋转</span></div>').appendTo($li),
            $prgress = $li.find('p.progress span'),
            $wrap = $li.find('p.imgWrap'),
            $info = $('<p class="error"></p>'),

            showError = function (code) {
                switch (code) {
                    case 'exceed_size':
                        text = '文件大小超出';
                        break;
                    case 'interrupt':
                        text = '上传暂停';
                        break;
                    default:
                        text = '上传失败，请重试';
                        break;
                }
                $info.text(text).appendTo($li);
            };

                if (file.getStatus() === 'invalid') {
                    showError(file.statusText);
                } else {
                    // lazyload
                    $wrap.text('预览中');
                    uploader.makeThumb(file, function (error, src) {
                        var img;
                        if (error) {
                            $wrap.text('不能预览');
                            return;
                        }
                        if (isSupportBase64) {
                            img = $('<img src="' + src + '">');
                            $wrap.empty().append(img);
                        } else {
                            $.ajax('/platform/Tools/Uploader', {
                                method: 'POST',
                                data: src,
                                dataType: 'json'
                            }).done(function (response) {
                                if (response.result) {
                                    img = $('<img src="' + response.result + '">');
                                    $wrap.empty().append(img);
                                } else {
                                    $wrap.text("预览出错");
                                }
                            });
                        }
                    }, thumbnailWidth, thumbnailHeight);

                    percentages[file.id] = [file.size, 0];
                    file.rotation = 0;
                }

                file.on('statuschange', function (cur, prev) {
                    if (prev === 'progress') {
                        $prgress.hide().width(0);
                    } else if (prev === 'queued') {
                        $li.off('mouseenter mouseleave');
                        $btns.remove();
                    }

                    // 成功
                    if (cur === 'error' || cur === 'invalid') {
                        console.log(file.statusText);
                        showError(file.statusText);
                        percentages[file.id][1] = 1;
                    } else if (cur === 'interrupt') {
                        showError('interrupt');
                    } else if (cur === 'queued') {
                        $info.remove();
                        $prgress.css('display', 'block');
                        percentages[file.id][1] = 0;
                    } else if (cur === 'progress') {
                        $info.remove();
                        $prgress.css('display', 'block');
                    } else if (cur === 'complete') {
                        $prgress.hide().width(0);
                        $li.append('<span class="success"></span>');
                    }

                    $li.removeClass('state-' + prev).addClass('state-' + cur);
                });

                $li.on('mouseenter', function () {
                    $btns.stop().animate({ height: 30 });
                });

                $li.on('mouseleave', function () {
                    $btns.stop().animate({ height: 0 });
                });

                $btns.on('click', 'span', function () {
                    var index = $(this).index(), deg;
                    switch (index) {
                        case 0:
                            uploader.removeFile(file);
                            return;
                        case 1:
                            file.rotation += 90;
                            break;
                        case 2:
                            file.rotation -= 90;
                            break;
                    }

                    if (supportTransition) {
                        deg = 'rotate(' + file.rotation + 'deg)';
                        $wrap.css({
                            '-webkit-transform': deg,
                            '-mos-transform': deg,
                            '-o-transform': deg,
                            'transform': deg
                        });
                    } else {
                        $wrap.css('filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation=' + (~ ~((file.rotation / 90) % 4 + 4) % 4) + ')');
                    }
                });

                $li.appendTo($queue);
            }

            // 负责view的销毁
            function removeFile(file) {
                var $li = $('#' + file.id);
                delete percentages[file.id];
                updateTotalProgress();
                $li.off().find('.file-panel').off().end().remove();
            }

            function updateTotalProgress() {
                var loaded = 0,
                total = 0,
                spans = $progress.children(),
                percent;
                $.each(percentages, function (k, v) {
                    total += v[0];
                    loaded += v[0] * v[1];
                });
                percent = total ? loaded / total : 0;
                spans.eq(0).text(Math.round(percent * 100) + '%');
                spans.eq(1).css('width', Math.round(percent * 100) + '%');
                updateStatus();
            }

            function updateStatus() {
                var text = '', stats;

                if (state === 'ready') {
                    text = '选中' + fileCount + '张图片，共' +
                WebUploader.formatSize(fileSize) + '。';
                } else if (state === 'confirm') {
                    stats = uploader.getStats();
                    if (stats.uploadFailNum) {
                        text = '已成功上传' + stats.successNum + '张照片至XX相册，' + stats.uploadFailNum + '张照片上传失败，<a class="retry" href="#">重新上传</a>失败图片或<a class="ignore" href="#">忽略</a>'
                    }

                } else {
                    stats = uploader.getStats();
                    text = '共' + fileCount + '张（' + WebUploader.formatSize(fileSize) + '），已上传' + stats.successNum + '张';
                    if (stats.uploadFailNum) {
                        text += '，失败' + stats.uploadFailNum + '张';
                    }
                }

                $info.html(text);
            }

            function setState(val) {
                var file, stats;
                if (val === state) {
                    return;
                }
                $upload.removeClass('state-' + state);
                $upload.addClass('state-' + val);
                state = val;

                switch (state) {
                    case 'pedding':
                        $placeHolder.removeClass('element-invisible');
                        $queue.hide();
                        $statusBar.addClass('element-invisible');
                        uploader.refresh();
                        break;
                    case 'ready':
                        $placeHolder.addClass('element-invisible');
                        $('#filePicker2').removeClass('element-invisible');
                        $queue.show();
                        $statusBar.removeClass('element-invisible');
                        uploader.refresh();
                        break;
                    case 'uploading':
                        $('#filePicker2').addClass('element-invisible');
                        $progress.show();
                        $upload.text('暂停上传');
                        break;
                    case 'paused':
                        $progress.show();
                        $upload.text('继续上传');
                        break;
                    case 'confirm':
                        $progress.hide();
                        $('#filePicker2').removeClass('element-invisible');
                        $upload.text('开始上传');
                        stats = uploader.getStats();
                        if (stats.successNum && !stats.uploadFailNum) {
                            setState('finish');
                            return;
                        }
                        break;
                    case 'finish':
                        stats = uploader.getStats();
                        if (stats.successNum) {
                            //alert('上传成功');
                            @if(ViewBag.IsBat){
                            <text>
                            art.dialog.close();
                            art.dialog.open.origin.location.reload();
                            </text>
                            }
                        } else {
                            // 没有成功的图片，重设
                            state = 'done';
                            location.reload();
                        }
                        break;
                }

                updateStatus();
            }

            uploader.onUploadProgress = function (file, percentage) {
                var $li = $('#' + file.id),
            $percent = $li.find('.progress span');
                $percent.css('width', percentage * 100 + '%');
                percentages[file.id][1] = percentage;
                updateTotalProgress();
            };

            uploader.onFileQueued = function (file) {
                fileCount++;
                fileSize += file.size;

                if (fileCount === 1) {
                    $placeHolder.addClass('element-invisible');
                    $statusBar.show();
                }

                addFile(file);
                setState('ready');
                updateTotalProgress();
            };

            uploader.onFileDequeued = function (file) {
                fileCount--;
                fileSize -= file.size;

                if (!fileCount) {
                    setState('pedding');
                }

                removeFile(file);
                updateTotalProgress();
            };

            uploader.on('all', function (type) {
                var stats;
                switch (type) {
                    case 'uploadFinished':
                        setState('confirm');
                        break;
                    case 'startUpload':
                        setState('uploading');
                        break;
                    case 'stopUpload':
                        setState('paused');
                        break;
                }
            });
            uploader.onError = function (code) {
                alert('Eroor: ' + code);
            };
            $upload.on('click', function () {
                if ($(this).hasClass('disabled')) {
                    return false;
                }

                if (state === 'ready') {
                    uploader.upload();
                } else if (state === 'paused') {
                    uploader.upload();
                } else if (state === 'uploading') {
                    uploader.stop();
                }
            });
            $info.on('click', '.retry', function () {
                uploader.retry();
            });
            $info.on('click', '.ignore', function () {
                alert('todo');
            });

            var fileNames=""; //所有上传成功后，返回的文件名集合
            uploader.on("uploadSuccess",function(file,response){ //单次上传成功事件
                fileNames+=response.url+","
            });

            uploader.on("uploadFinished",function(){ //当所有文件上传结束时触发
                @if (!ViewBag.IsBat)
                {
                <text>
                new UploadTool().callback(fileNames.cutRight(',')); //回调
                </text>
                }
            });

            $upload.addClass('state-' + state);
            updateTotalProgress();
        });

    })(jQuery);
</script>
<script>
    var pageIndex = 1;
    var pageSize = 15; //分页记录数
    var pageCount = 1;

    $(function () {
        getFileData(); //打开就加载第一页
    });
    $("#searchbtn").click(function () {
        getFileData(); //搜索按钮
    });

    var fileForSelected = "";
    function selectFiles() {
        $('.file-item-box .file-pic').each(function (i, item) {
            if ($(item).hasClass("dot")) { //被选中
                if (type == "single") fileForSelected = $(item).find("img").attr("original");
                else fileForSelected += $(item).find("img").attr("original") + ",";
            }
        });
        if (fileForSelected != "") {
            new UploadTool().callback(fileForSelected.lastIndexOf(",") != -1 ? fileForSelected.cutRight(',') : fileForSelected);
        } else {
            showtip("请选择文件");
        }
    }
    function selectRightNow(element) { //双击选择
        new UploadTool().callback($(element).find("img").attr("original"));
    }

    function getFileData() {
        //筛选条件//文件夹//年//月//文件名//仅图片
        var folder = $("#selFolder").val(), nian = $("#nian").val(), yue = $("#yue").val(), imgchecked = $("#imgonly").is(":checked")?1:0, searchTxt = $("#search_text").val();
        var str = "";
        $.getJSON('/tools/FileData', { CatalogID: 1, Module:"76F7D252E7A7238A", folder: folder, nian: nian, yue: yue, imgonly: imgchecked, searchtxt: searchTxt, pageindex: pageIndex, pagesize: pageSize, temp: Math.random() }, function (data) {
            if (data.totalpage > 0) {
                pageCount = data.totalpage;
                for (var i = 0; i < data.data.length; i++) {
                    var item = data.data[i];
                    str += "<li>"
                           + "     <div class=\"file-item-box\" seltype='@(ViewBag.SelectType)' ondblclick=\"selectRightNow(this);\">"
                           + "         <div class=\"file-pic\">"
                           + "             <div class=\"text-c dot-box\">"
                           + "                 <i class=\"iconfont\">&#xe660;</i>"
                           + "             </div>"
                           + "             <img src='" + item.Thumb + "' alt='' title='原文件：" + item.OriginalPath + ",双击可快速选择！' original='" + item.VirtualFilePath + "' />"
                           + "         </div>"
                           + "         <h3>"
                           + "             <p title='" + item.FileName + "'>" + item.FileName + "</p>"
                           + "         </h3>"
                           + "     </div>"
                           + " </li>";
                }
            } else {
                str = "<li class='empty-box'><i class='iconfont'>&#xe62e;</i><span>没有找到任何数据！<span></li>"; //没有数据
            }

            $("#filecontext").html(str); //给容器填装数据
            loadPager();

            function initFileChoser() {
                $(".file-item-box").each(function (i, ele) {
                    $(ele).click(function () {
                        if ($(this).attr("seltype") == "single" && !$(this).find(".file-pic").hasClass("dot")) { //仅单选
                            $('.file-item-box .file-pic').removeClass("dot");
                        }
                        $(this).find(".file-pic").toggleClass("dot");
                    })
                })
            }
            initFileChoser();

        });
    }

    function loadPager() {
        var str = "<div class=\"paginator\" align=\"left\" style=\"float: left; width: 40%;\">"
                  + "      第" + pageIndex + "页，共" + pageCount + "页"
                  + " </div>"
                  + " <div align=\"right\" class=\"paginator\" style=\"width: 60%; float: left;\">";

        if (pageIndex > 1) {
            str += "     <a href='javascript:void(0)' onclick=\"getPrev();\" style=\"margin-right: 5px;\">上一页</a>";
        }
        else
            str += "     <a disabled=\"disabled\" style=\"margin-right: 5px;\">上一页</a>";

        if (pageIndex < pageCount) {
            str += "     <a href='javascript:void(0)' onclick=\"getNext();\" style=\"margin-right: 5px;\">下一页</a>";
        }
        else
            str += "     <a disabled=\"disabled\" style=\"margin-right: 5px;\">下一页</a>";

        str += "</div>";

        $("#pagearea").html(str);
    }

    function getPrev() {
        pageIndex--;
        getFileData();
    }
    function getNext() {
        pageIndex++;
        getFileData();
    }
</script>